*.pyc
doc/*.png
docs/generated/doxygen/*
.DS_Store
.idea
.externalNativeBuild
cmake-build-debug
.idea/workspace.xml
.idea
bin
gen
/obj/
/lib-projects/facebook/bin
/lib-projects/facebook/gen
.gradle/
.idea/
.idea/*.xml
build/
**/captures
tinker-base
gradlew
gradlew.bat
local.properties
*.iml
.DS_Store
settings_self.gradle
*.ec
commit_id.txt
repos/
reports/
**/coremodule.txt
*/ajcore*.txt
ajcore*.txt
android/.idea/modules.xml
